<html>
    <head>
          <title>Django Girls blog</title>
    <head>
    <body>
          <div>
               <h1><a href="">Django Girls Blog</a></h1>
          </div>


          <div>
              <p>published: 28.12.2017, 15:35</p>
              <h2><a href="">Mon premier post</a></h2>
              <p>J'ecris mon premier post en html.</p>
          </div>


          <div>
              <p>published:28.12.2017, 15:37</p>
              <h2><a href="">Mon second post</a></h2>
              <p>J'écris mon second post en html.</p>
          </div>
      </body>
</html>
